@{
    Layout = "_Layout";
    ViewData["Title"] = "Server Error";
}

<h1 class="text-danger">500 - Internal Server Error</h1>
<p>Oops! Something went wrong on our side. Please try again later.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Go to Home</a>
